@model EazyParkingWithAuth.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Customer.Name)
        @Html.TextBoxFor(model => model.Customer.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Customer.Birthday)
        @Html.TextBoxFor(model => model.Customer.Birthday, "{0: dd MM yyyy}" , new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Customer.MembershipTypeId)
        @Html.DropDownListFor(model => model.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select a membership type", new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(model => model.Customer.IsSubscribedToNewsletter) Subscribe to News Letter?
        </label>
    </div>
    @Html.HiddenFor(model => model.Customer.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}
